body{
  font-family: 'Josefin Sans', sans-serif;  
  background-color:rgb(228, 226, 226);
  margin:auto;
  
  }



/*--------------------------------------------Heading*/

.container-header{
    background-color:#002A3A;
    height: auto;
}

.logo-header img {
    height: 120%;
    position: absolute;
    left: 0em;
    top: 0em;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    }

.title-header h2{
   color: white;
   margin-top:3%;
   margin-right:3%;
   text-align: right;   
    }


/*--------------------------------------------NavBar-header*/
.col-md-10 {
    min-height: 0px;
}
.navbar-toggler{
    float: right;
    padding: 0;
}


.navbar-brand img {
    height: 3em;
    position: absolute;
    left: 0%;
    top: 0%;
    padding-bottom: 1em;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

.navbarDropdownMenuLink {
    color:darkgrey;
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
     }


.navbar-nav .nav-link{
    text-align: center;
}



.nav-link a{
    color:darkgrey;
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
}

.dropdown-item {
    font-size: 80%;
    text-transform: uppercase;
}


/*--------------------------------------------NavBar-for larger screens*/
.container-largenavbar {
height: auto;
}

.navbar-nav li{
      padding-left: 1em;
      padding-right: 1em;
      }

/*--------------------------------------------Carousal*/
.col-md-12 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0; 
}

.col-8{
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
 
}
.carousel-caption{
    padding-top: 1%;
    border-radius: 8px;
    position: absolute;
    text-align: center;
    background-color: rgba(0,0,0, 0.3);
    padding-bottom: 0;
}

.carousel-caption h3{
    font-size: 120%;
}
.carousel-caption p{
    font-size: 100%;
}
/*--------------------------------------------Vision Container*/


.container-vision h3{
color: white;
}
.container-button-vision{
    text-align: center;
}
.button-vision {
    background-color: #EEB33B;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 1% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }


.button-vision:hover {
  background-color:black;
  color: #64ccc9;
}


/*--------------------------------------------Container-People*/
.container-people{
background-color:#D9D9D6;
text-align: center;
border-top: .5em solid #002A3A;
border-bottom: .5em solid #002A3A;
}

.container-title h3{
    padding-bottom: 2%;
    padding-top: 2%;
    color: whitesmoke;
}
/* Copied from the Whiskey Drop lesson */

.container-people-details img{
    position: relative;
    border: 6px solid #fff;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,.35);
    box-shadow: 3px 3px 7px rgba(0,0,0,.35);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

/*--------------------------------------------Container-Our-Site*/

.container-site{
background-color: #EEB33B;
text-align: center;
}

.container-site-image img{
padding-top: 3%;
padding-bottom: 5%;
}

/*--------------------------------------------Container footer*/
.footer{
    background-color:#002A3A;
    text-align: center;
}

#abbott-footer p {
    color: #a5a5a5;
    font-weight: 300;
    font-size: 1em;
    display: inline-block;
    margin-bottom: 0;
   }

#abbott-footer img {
    height: 4em;
   }

/*--------------------------------------------Contact Us*/
    /*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
   /* form */
   
.form-section {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top; 
    height: 30em;  
}
/*end form*/
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.signup-form {
  margin-top: 3%;
  color: #fff;
  background-color: rgba(60,60,60,0.6);
  max-width: 80%;
  position: absolute;
  left: 5%;
  right: 5%;
  padding: 3% 3%;
  
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.signup-form h2{
  color: #fafafa;
  margin-bottom: 2%;
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.text-input {
  background: transparent;
  color:#fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  bottom: 20px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.text-input:hover{
  border-color:#f16c6b;
}

/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.join-button {
  border-radius: 12px;
  padding:2% 2% 2% 2%;
  text-align: center;
  font-size: 100%;
  background-color: #f16c6b;
  color: #fafafa;
  display: block;
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.join-button:hover{
  background-color: #fafafa;
  color: #f16c6b;
}
/*--------------------------------------------MediaQueries*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .container-vision h3{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 100%;
    text-align: center;
} 
    
    .container-vision p{
    margin-bottom:0;
    margin-top:0;
    font-size: 100%;
    text-align: center;
}

.col-md-4{
    margin-left: 0;
    padding-left: 0;
}
.button-vision{
    margin-bottom: 1%;
}

.container-people-title h3{
    font-size: 100%;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.col-md-4{
    margin-left: 0;
}
.container-vision h3 {
    margin-top: 3%;
    font-size: 100%;
    text-align: center;
}
.container-vision p {
   font-size: 100%;
    text-align: center;
}
.button-vision{
    margin-bottom: 1%;
}


 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.container-vision h3 {
    margin-top: 3%;
    font-size: 120%;
    padding-left: 2%;
}

.container-vision p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 100%;
    padding-left: 2%;
}

.button-vision{
    margin-bottom: 1%;
}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-vision p {
    margin-bottom: 4%;
    margin-top: 4%;
}
.container-vision h3{
    margin-top: 3%;
    color: whitesmoke;
    font-size: 200%;
    text-align: center;
}


.container-vision p{
    font-size: 200%;
    text-align: center;
}

.button-vision{
    margin-bottom: 2%;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}