

body{
  font-family: 'Josefin Sans', sans-serif;  
  background-color:rgb(228, 226, 226);
  margin:auto;
  
  }



/*--------------------------------------------Heading*/

.container-header{
    background-color:#222731;
    height: auto;
}

.title-header h2 {
    text-align: right;
}

.logo-header img {
    height: 80px;
    position: absolute;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    }

.title-header h2{
   color: white;
   margin-top: 20px;
   text-align: right;   
    }


/*--------------------------------------------NavBar-header-max-width-576px*/

.navbar-toggler{
    float: right;
}

.navbar-brand img {
    height:50px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}


#navbarDropdownMenuLink {
    color:darkgrey;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
     }

.navbar-nav .nav-link{
    text-align: center;
}

.nav-item{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.dropdown-item{
    font-size: 12px;
    text-transform: uppercase;
}

/*--------------------------------------------MediaQueries*/

@media screen and (max-width: 576px) {
 .container-header{
 
    height: auto;
}

}

/*--------------------------------------------NavBar-for larger screens*/
.navbar-nav li{
      padding-left: 20px;
      padding-right: 20px;
      }