

body{
  font-family: 'Josefin Sans', sans-serif;  
  background-color:rgb(228, 226, 226);
  margin:auto;
  
  }



/*--------------------------------------------Heading*/

.container-header{
    background-color:#222731;
    height: auto;
}

.logo-header img {
    height: 120%;
    position: absolute;
    left: 0em;
    top: 0em;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    }

.title-header h2{
   color: white;
   margin-top:3%;
   text-align: right;   
    }


/*--------------------------------------------NavBar-header-max-width-576px*/

.navbar-toggler{
    float: right;
    padding: 0;
}

.navbar {
  overflow: hidden;
}

.navbar-brand img {
    height: 3em;
    position: absolute;
    left: 0%;
    top: 0%;
    padding-bottom: 1em;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}


#navbarDropdownMenuLink {
    color:darkgrey;
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
     }

.navbar-nav .nav-link{
    text-align: center;
}

.nav-item .nav-link a{
    font-size: 80%;
    color:darkgrey;
    text-transform: uppercase;
    font-weight: bold;
}
.dropdown-item a{
    font-size: 80%;
    text-transform: uppercase;
}

/*--------------------------------------------MediaQueries*/



/*--------------------------------------------NavBar-for larger screens*/
.navbar-nav li{
      padding-left: 1em;
      padding-right: 1em;
      }

/*--------------------------------------------Carousal*/
.col-md-8 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  
}

.col-8{
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
 
}

.col-md-10 {
    min-height: 0px;
}

